global
    daemon
    maxconn 256

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http-in
    bind *:80
    default_backend www

backend www
{% for server in servers %}
    server {{ server.name }} {{ server.address }} {{ server.options }}
{% endfor %}

listen admin
    bind *:8080
    stats enable
